# LuckyHarness
.luckyharness/
*.db
/lh
tasks/bangumi_published.json
lh-new
coverage.out
cover.out
tmp
.env
.env.prod
config.json
.codex
.lh-home*
docs
GA
bin

*.txt
skill.md
gotchas.md
notes
tmp
skill

UI\node_modules
UI/node_modules/
